.custom-navbar-brand{
    color:white !important;
    /* background-color: bisque !important; */

}
.nav-link-change{
    color:white !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: red;
    border-radius: 50%;
}
.product-card-section{
    display:flex;
    flex-wrap:wrap;
}
.card{
    margin: 10px;
    border:3px solid red;
    text-align: center;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.custom-design-card{
    display: flex;
    flex-wrap: wrap;

}
.custom-card{
    border: 2px solid red;
    margin: 5px;
}
.img-lamp{
    max-width: 150px;
    max-height: 150px;
}

